* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  color: #fbfcff;
  background-color: #86bbd8;
}

#cardSelector {
  width: 45rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #2f4858;
}

#cardImg {
  border-radius: 15px 15px 0 0;
  width: 45rem;
  height: 18rem;
}

.card-title {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  margin: 15px;
}

#timer-div {
  font-size: 3rem;
  text-align: center;
}

div.controls {
  padding: 5px;
  margin: 15px;
  letter-spacing: 1px;
}

#settings {
  width: 100px;
}

input {
  background: #f6ae2d;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100px;
  text-align: center;
  border-color: black;
  border-radius: 20px;
}

#status {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  margin: 5px;
}

#sec {
  font-size: 3rem;
  margin: 5px;
}

.btn {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-size: 1rem;
  width: 100px;
  border-radius: 20px;
  background: #f6ae2d;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.btn:hover {
  border-color: #de3c4b;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em #87f5fb;
  transform: translateY(-0.25em);
  cursor: pointer;
}
